<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="#" th:action="@{/home}" th:object="${CustomerDto}"
		method="post">
		<div>
			UserName<input type="text" name="customerId"
				placeholder="CustomerId" required="required"><br> <br>
			PassWord<input type="password" name="customerPassword"
				placeholder="Password" required="required"><br> <br>
			<br> <br> Submit<input type="submit"> <br> <br>
			<br> <a href="register">NewUser??</a>
		</div>
	</form>
</body>
</html>