<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Customer registration</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="appearance.css" />
<h3 align="center" >Customer registration</h3>
	<form action="#" th:action="@{/register}" th:object="${Customer}"
		method="post">
		<input type="number" name="customerId" placeholder="Enter id"><br>
		<input type="text" name="customerName" placeholder="Enter name"><br>
		<input type="password" name="customerPassword"
			placeholder="Enter password"><br> <input type="number"
			name="customerBalance" placeholder="Enter balance"><br>
		<input type="submit">
	</form>
</body>
</html>